.reviews{
    min-height: 1000px;
    padding-bottom: 20px;
    &-client {
        display: flex;
        justify-content: space-between;
        align-items:center;        
        min-height: 200px;
        margin: 50px 0;   
    &__foto {
        width: 169px;
        height: 169px;
        }
    &__card {
        margin-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;      
    }
    &__name {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__mscore{
        margin-top: 10px;
        color: #646464;
        font-size: 14px;
        font-weight: 300;
    }
    &__comment{
        margin-top: 19px;
        color: #0d0d0d;
        font-size: 17.5px;
        font-weight: 300;
    }
    }        
}